<div class="background">
    <div class="container">
        <h1>Artists found:</h1>
        <div class="row">
            {{#each artistsList}}
            <div class="col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src={{images.2.url}} class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{name}}</h5>
                        <a href="/albums/{{id}}" class="btn btn-primary">View Albums</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>