<div class="concert">
    <div class="search-form">
        <form method="GET" action="/artist-search">
            <input class="text-form" type="text" name="artist">
            <button class="button" type="submit">Search for an Artist</button>
        </form>
    </div>
</div>