<div class="background">
    <div class="container">
        <h1>Tracks</h1>
        <div class="row">
            {{#each tracks}}
            <div class="col-sm-6">
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <audio controls src={{preview_url}}>
                    </audio>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>